body {
  font-weight: 400;
  padding: 0 10px;
}
h2,
h1
p {
  font-family: 'Montserrat', sans-serif !important;
}



@media (max-width: 600px) {
  .table-, .table-th, .table-td{
    display: block;
  }
 
}





